/*
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.pagination-container {
	text-align: center;
}

.login-panel {
  padding: 20px;
  margin-top: 40px;
  h2 {
    text-align: center;
  }
}

.label > a {  
  color: #ffffff;
}

.glyphicon.glyphicon-trash > a {
	color: #ffffff
}

.glyphicon.glyphicon-pencil > a {
	color: #000000
}

.glyphicon.glyphicon-eye-open > a {
	color: #000000
}

.navbar {
  margin-bottom: 0;
}

.navbar-default{
  background-color: #e7e7e7 !important;
  border-color: #f8f8f8 !important;
}

.block {
  display: inline-block;
}
